<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BMSCE</title>
  <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
  <meta name="keywords" content="fettle bowl, fitness food">

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Satisfy|Bree+Serif|Candal|PT+Sans">
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      
    }
    
    li {
      float: right;
    }
    
    li a {
      margin-left: 10px;
      margin-top: 30px;
      margin-right: 50px;
      display: block;
      color: white;
      font-size: 30px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
   
    </style>
</head>

<body>
  <section id="banner">
    <div class="bg-color">
      <header id="header">

       
        <ul>
          <li><a href="#event">About</a></li>
           <li>	 <a href="/student">Student</a></li>
           <li> <a href="/proctorlogin">Proctor</a></li>
           <li> <a href="/adminlogin">Admin</a></li>
           <li><a href="/">Home</a></li>

           
        </ul>
              
      </header>
      
    </div>
  </section>
 
  <section id="event">
    <div class="bg-color" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center" style="padding:60px;">
            <h1 class="header-h">About Us</h1>
            <p class="header-p"></p>
          </div>
          <div class="col-md-12" style="padding-bottom:60px;">
            <div class="item active left">
              <div class="col-md-6 col-sm-6 left-images">
                <img src="img/res02.jpg" class="img-responsive">
              </div>
              <div class="col-md-6 col-sm-6 details-text">
                <div class="content-holder">
                  <h1 style="color: #FFB03B;">BMSCE</h1>
                  <p>This application is aimed to connect a good relation between students and proctors  with an easy and well designed interface between them.
User Perspective :students/proctor  can ask their queries, update their profile, send notifications ,view profiles updates ,delete /edit unwanted data, communicate with each other.
Actors Involved : The various actors involved in this process  are 
Actors are Admin ,students and  proctors. 
Admin: Admin  can register and login , list the proctor and students , assign students to faculty and send the list to proctor .
Student : Student can register and login, can update profile, view notifications from factuly , and can ask queries through bi directional communication to their respective proctors. 
Proctor : Proctor Can send notice through directional communication window , can view student list and details of student profile . 
</p>
                 
           
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ event -->
  <!-- menu -->

  <!--/ menu -->
  <!-- contact -->
 
  <!-- / contact -->
  <footer>
    Copyright 2021. All Rights Reserved.
  </footer>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery.easing.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/custom.js"></script>
  <script src="contactform/contactform.js"></script>

</body>

</html>
